<html><html>
    <head>
        <title>Help</title>
        <link rel = "icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main content">
            {{>header}}
            <p>{{helpData}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>